.styled-hero {

  div {
    background-position: center;
    background-size: cover;
    opacity: 1 !important;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.bg-linear {
  div {
    background: linear-gradient(rgba(63, 208, 212, 0.7), rgba(0, 0, 0, 0.7));
    min-height: calc(100vh - 62px) !important;
    width: 100%;
  }
}